body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header-container {
  display: flex;

  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;

  max-width: 800px;

  background-color: rgb(190, 25, 25);
  flex-grow: 1;
}

.header-icon {
  width: 25px;
  height: 25px;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.header-title {
  color: white;
  font-weight: 400px;
  padding: 20px;
  margin-right: auto;
}

.journel-container {
  display: flex;
  max-width: 800px;
  background-color: rgb(254, 252, 242);

  padding-top: 60px;

  margin-left: auto;
  margin-right: auto;
  flex-grow: 1;
}

.place-img-container {
  width: 150px;
  height: 200px;
  overflow: hidden;
  border-radius: 10px;
  flex-shrink: 0;

  margin-left: 60px;
}

.place-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.marker-img {
  width: 15px;
  margin-left: 25px;
}

.country-label {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 15px;
  margin-left: 3px;
  font-weight: bold;
  color: rgb(95, 94, 94);
}

.maps-link {
  letter-spacing: 1px;
  font-size: 13px;
  font-weight: bold;

  margin-left: 25px;
  color: lightslategray;
}

.title-label {
  font-size: 30px;
  line-height: 0px;
  margin-top: 20px;
  margin-left: 25px;
  margin-bottom: 40px;
}

.dates-label {
  font-size: 14px;
  letter-spacing: 1px;
  margin-left: 25px;
  margin-bottom: 10px;
}

.journel-text {
  font-size: 14px;
  letter-spacing: 1px;
  text-align: justify;

  margin-left: 25px;
  margin-right: 70px;
  margin-top: 0px;
}